
<li [ngClass]="{
  'list-group-item' : true,
  'list-group-item-success' : this.loveIt > 0 ,
  'list-group-item-danger' : this.loveIt < 0
  }" >
  <div>
    <div class="d-flex justify-content-between align-content-center">
      <div class="h4">{{ title }}</div>

      <div>
        <span class="align-middle"><em>{{ createdAt | date : 'short' }}</em></span>
        <span [ngClass]="{
          'align-middle' : true,
          'badge badge-pill' : true,
          'badge-success' : loveIt > 0 ,
          'badge-danger' : loveIt < 0,
          'badge-secondary' : loveIt == 0,
          'ml-3' : true
        }">
        {{ loveIt }}</span>
        <a class=" text-danger ml-3 clickable h5 align-middle" (click)="onDelete(index)">
          <fa-icon [icon]="['fas', 'times']"></fa-icon>
        </a>
      </div>
    </div>
    <div>
      {{ content }}
    </div>
    <div>
      <a (click)="onLoveIt()" class="text-success clickable h3 mr-3"><fa-icon [icon]="['fas', 'heart']"></fa-icon></a>
      <a (click)="dontLoveIt()" class="text-danger clickable h3"><fa-icon [icon]="['fas', 'heart-broken']"></fa-icon></a>
    </div>
  </div>
</li>
